.container {
  margin-left: 3.5px;
  border: 0px solid #ddd;
  height: 18px;
  line-height: 20px;
  overflow: hidden;
  margin-bottom: 1px;
}

.container span {
  position: relative;
  animation: rotate-animation 6s ease-in-out infinite;
}

@keyframes rotate-animation {
  0%,
  100% {
    top: 0;
  }
  20% {
    top: 0;
  }
  25% {
    top: -20px;
  }
  45% {
    top: -20px;
  }
  50% {
    top: -36px;
  }
  70% {
    top: -36px;
  }
  75% {
    top: -72px;
  }
  95% {
    top: -72px;
  }
}