.container {
  background-color: var(--charcoal);
}

.subContainer {
  padding: 2em 2em 3em 2em;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  font-size: 14px;
  color: white;
  letter-spacing: -0.01em;
  border-top: 1px solid var(--gray);
  gap: 18px;
}

.footerLinksLeft,
.copyrightText {
  display: flex;
  list-style-type: none;
  gap: 18px;
  transition: .3s;
}

.titleScroll {
  color: white;
  height: 27vh;
  padding-top: 10.5%;
}

@media screen and (max-width: 992px) {
  .titleScroll {
    height: 27vh;
    padding-top: 10.5%;
  }
}

@media screen and (max-width: 600px) {
  .titleScroll {
    height: 27vh;
    padding-top: 31%;
  }
}

@media screen and (max-width: 390px) {
  .titleScroll {
    height: 27vh;
    padding-top: 31%;
  }
}