.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  margin-top: -75px;
  background-image: url("../../../public/bakgrundsbild.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.rowWrapper {
  display: flex;
  margin-top: 5rem;
  margin-bottom: -2px;
  padding-left: 6.2em;
  transition: .3s;
}

.descContainer {
  display: flex;
  justify-content: flex-end;
  padding-right: 7.5em;
  margin-top: 2.5rem;
  transition: .3s;
}

@media screen and (max-width: 992px) {
  .rowWrapper {
    margin-top: 1rem;
    margin-left: -4.3em;
  }
  .descContainer {
    justify-content: flex-start;
    margin-left: 1.8em;
    padding-right: 43%;
    bottom: 6rem;
    position: absolute;
  }
}

@media screen and (max-width: 600px) {
  .rowWrapper {
    margin-left: -4.3em;
  }
  .descContainer {
    justify-content: flex-start;
    margin-left: 1.8em;
    padding-right: 43%;
    bottom: 6rem;
    position: absolute;
  }
}

@media screen and (max-width: 390px) {
  .rowWrapper {
    margin-left: -4.3em;
  }
  .descContainer {
    justify-content: flex-start;
    margin-left: 1.8em;
    padding-right: 43%;
    bottom: 6rem;
    position: absolute;
  }
}