.container {
  display: flex;
  flex-direction: column;
  padding: 0 10.2em;
  transition: .3s;
}

.subContainer {
  padding-bottom: 2em;
}

.items {
  display: grid; 
  grid-template-columns: 1fr 1fr; 
  grid-template-rows: 1fr 1fr; 
  gap: 7em 3em;
  padding-bottom: 10em;
}

.projectItem {
  width: 100%;
}

.projectImage {
  object-fit: cover;
  width: 100%; 
  height: 200px;
}

.heading {
  margin-top: 1.4em;
}

@media screen and (max-width: 992px) {
  .container {
    margin: 0 -5em;
  }
  .items {
    display: grid; 
    grid-template-columns: 1fr; 
    grid-template-rows: 1fr; 
    gap: 3em; 
  }
}

@media screen and (max-width: 600px) {
  .container {
    margin: 0 -8.1em;
  }
  
  .items {
    display: grid; 
    grid-template-columns: 1fr; 
    grid-template-rows: 1fr; 
    gap: 3em; 
  }
}

@media screen and (max-width: 390px) {
  .items {
    display: grid; 
    grid-template-columns: 1fr; 
    grid-template-rows: 1fr; 
    gap: 3em;
  }
}