.container {
  display: flex;
  flex-direction: column;
  padding: 0 10.2em;
  transition: .3s;
  background-color: blueviolet;
}

.subContainer {
  padding-bottom: 2em;
}

.items {
  display: flex;
  gap: 3em;
  padding-bottom: 3em;
}

@media screen and (max-width: 992px) {
  .container {
    margin: 0 -5em;
  }
  .items {
    flex-wrap: wrap;
  }
}

@media screen and (max-width: 600px) {
  .container {
    margin: 0 -8.1em;
  }
  
  .items {
    flex-wrap: wrap;
  }
}

@media screen and (max-width: 390px) {
  .items {
    flex-wrap: wrap;
  }
}