.container {
  /* display: flex; */
  /* flex-direction: column; */
  /* height: 65vh; */
  /* justify-content: flex-start; */
  padding: 0 10.2em;
  transition: .3s;
}

.subContainer {
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 992px) {
  .container {
    margin-left: -4.3em;
  }
}

@media screen and (max-width: 600px) {
  .container {
    margin-left: -4.3em;
  }
}

@media screen and (max-width: 390px) {
  .container {
    margin-left: -4.3em;
  }
}