.main {
  display: flex;
}

.container {
  cursor: pointer;
  font-family: 'MaisonNeue-Book', sans-serif;
  width: 100%;
  height: 75px;
  line-height: .5em;
  position: relative;
  overflow: hidden;
  border: 1px solid white;
  transition: color .5s;
  z-index: 1;
  font-size: 16px;
  letter-spacing: -0.03em;
  border-radius: 60px;
  color: white;
  background-color: transparent;
  padding: 2px 45px 0 45px;
}

.container:before {
  content: "";
  position: absolute;
  z-index: -1;
  background: white;
  height: 290px;
  width: 650px;
  border-radius: 50%;
}

.container:hover {
  color: var(--charcoal);
}

.container:before {
  top: 100%;
  left: 100%;
  transition: all 1s;
}

.container:hover:before {
  top: -65px;
  left: -65px;
}

.container:active:before {
  background: white;
  transition: background 0s;
 }