/* projects.module.css */

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  padding: 0 10.2em;
}

.link {
  text-decoration: none;
  display: flex;
  justify-content: space-between;
}

.line {
  height: 1px;
  padding-bottom: 1.4em;
}

.projectItem {
  display: flex;
  flex-direction: row; /* Change to column */
  align-items: center;
  position: relative;
  padding: 2em 2em;
  gap: 6em;
}

.projectItem::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: var(--border-gray);
}

.projectItem:hover {
  opacity: 0.3;
}

.heading {
  background-color: blue;
}

.columnClient {
  display: flex;
  justify-content: flex-end;
}

.projectInfo {
  display: flex;
  background-color: blueviolet;
  justify-content: space-around;
  gap: 10em;
}

@media screen and (max-width: 992px) {
  .container {
    padding: 5em 5em;
  }
  .line {
    margin: -0.5em 0 !important;
  }
}

@media screen and (max-width: 600px) {
  .container {
    padding: 5em 2em;
  }
  .line {
    margin: -0.5em 0 !important;
  }
}

@media screen and (max-width: 390px) {
  .container {
    padding: 15em 2em;
  }
  .line {
    margin: -0.5em 0 !important;
 
  }
}