.container {
  padding: 8em 8em;
}

.link {
  text-decoration: none;
}

.button {
  display: flex;
  justify-content: center;
  padding-top: 4em;
  text-decoration: none;
}

.subTitle {
  font-family: 'Playfair Display', serif;
  font-size: 65px;
  font-style: italic;
  margin-bottom: 1.5em;
  padding-left: .7em;
}

.contentProject,
.contentTitle {
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
  padding-left: 2em;
}

.contentClient,
.columnOne {
  flex: 35%;
}

.contentDel,
.columnTwo {
  flex: 26%;
}

.contentDel {
  padding-right: 2em;
}

.contentLoc,
.columnThree {
  flex: 16%;
}

.contentYear,
.columnFour {
  flex: 6%;
  display: flex;
  justify-content: flex-start;
  padding-right: 2em;
}

.contentProject:hover {
  cursor: pointer;
  opacity: 0.2;
}

@media screen and (max-width: 992px) {
  .container {
    padding: 8em 2em;
    flex-wrap: wrap;
  }
}