.container {
  padding: 8em 8em;
  transition: .3s;
}

.subTitle {
  font-family: 'Playfair Display', serif;
  font-size: 65px;
  font-style: italic;
  margin-bottom: 1.5em;
  padding-left: .7em;
}

.link {
  text-decoration: none;
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
  flex: 0%;
}

.contentProject,
.contentTitle {
  display: flex;
  align-items: center;
  padding-left: 2em;
}

.contentProject:hover {
  cursor: pointer;
  opacity: 0.2;
}

.contentClient,
.columnOne {
  flex: 50%;
}

.contentDel,
.columnTwo {
  flex: 30%;
}

.contentLoc,
.columnThree {
  flex: 25%;
}

.contentYear,
.columnFour {
  flex: 8%;
  display: flex;
  justify-content: flex-start;
}

.button {
  display: flex;
  justify-content: center;
  padding-top: 3em;
  text-decoration: none;
}

@media screen and (max-width: 992px) {
  .container {
    padding: 0em 2em;
  }
  .contentClient {
    font-size: 2em;
  }

  .contentProject,
  .contentTitle,
  .subTitle  {
    padding: 0;
  }

  .contentDel,
  .columnTwo,
  .contentLoc,
  .columnThree {
    opacity: 0;
  }
}