.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 8em 10.2em 5em 10.2em;
  transition: 0.3s;
}

.rowWrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.paraText {
  padding-top: 5px;
  margin-left: 100px;
}

@media screen and (max-width: 992px) {
  .container {
    padding: 5em 5em;
  }
  .rowWrapper {
    flex-wrap: wrap;
  }
  .paraText {
    margin-top: 1em;
    margin-left: 0;
    margin-right: 38%;
  }
}

@media screen and (max-width: 600px) {
  .container {
    padding: 5em 2em;
  }
  .rowWrapper {
    flex-wrap: wrap;
  }
  .paraText {
    margin-top: 1em;
    margin-left: 0;
    margin-right: 38%;
  }
}

@media screen and (max-width: 390px) {
  .container {
    padding: 15em 2em;
  }
  .rowWrapper {
    flex-wrap: wrap;
  }
  .paraText {
    margin-top: 1em;
    margin-left: 0;
    margin-right: 38%;
  }
}
