.mainContainer {
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  margin-top: -75px;
  background-image: url('../../public/bakgrundsbild.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}