.mainContainer {
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  margin-top: -75px;
  background-image: url('../../public/bakgrundsbild.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.textContainer {
  margin: 0 2em;
}

.rowWrapper {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  /* margin-right: 10%; */
}

.title {
  /* font-family: 'Playfair Display', serif; */
  font-size: 6.5rem;
  font-weight: 500;
  letter-spacing: -0.3rem;
  margin-top: 2rem;
  /* font-style: italic; */
}

@media screen and (max-width: 992px) {
  .textContainer {
    margin: 0 2em;
  }
/* 
  .rowWrapper {
    margin-right: 0;
  } */
}

@media screen and (max-width: 600px) {
  .textContainer {
    margin: 0 2em;
  }
}

@media screen and (max-width: 390px) {
  .textContainer {
    margin: 0 2em;
  }
}