.container {
  padding: 6em 10em;
  color: white;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  background-color: var(--charcoal);
  transition: .3s;
  gap: 20%;
}

.greeting {
  padding-top: 95px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  gap: 30px;
}

.greetingHead {
  font-size: 82px;
  letter-spacing: -0.04em;
  line-height: 0.9em;
}

.greetingSub {
  padding-left: 0.5em;
}

.contactButton {
  display: flex;
  align-items: center;
}

@media screen and (max-width: 922px) {
  .container {
    padding: 10em 5em;
    flex-wrap: wrap;
  }
  .greetingSub {
    margin-bottom: 25px;
  }
}

@media screen and (max-width: 600px) {
  .container {
    padding: 10em 1.5em;
    flex-wrap: wrap;
  }
  .greetingSub {
    margin-bottom: 25px;
  }
}
