.container {
  padding: 0 10em;
  height: 50vh;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--charcoal);
}

.greeting {
  font-size: 52px;
}