.container {
  padding: 10em 8.2em 7em 8.2em;
  transition: .3s;
}

.header {
  padding-left: 1.6em;
  padding-bottom: 6em;
}

.contentTitle,
.contentProject {
  display: flex;
  align-items: center;
  padding-left: 2em;
}

.columnOne,
.contentYear {
  flex: 25%;
}

.columnTwo,
.contentDel {
  flex: 25%;
}

.columnThree,
.contentLoc {
  flex: 25%;
}

.columnFour,
.contentSite {
  flex: 25%;
}

.brief {
  width: 45%;
  margin: 4em 2em 0;
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.images {
  padding: 0;
  margin: 0;
}

.button {
  display: flex;
  justify-content: center;
  padding-top: 3em;
  padding-bottom: 8em;
  text-decoration: none;
}

@media screen and (max-width: 992px) {
  .container {
    padding: 6em 2em;
  }

  .contentProject,
  .contentTitle,
  .contentBrief {
    padding: 0;
  }

  .header {
    padding: 0;
    margin-left: -.5em;
    margin-bottom: 4em;
  }

  .contentSite,
  .columnFour {
    display: flex;
    justify-content: flex-end;
  }

  .contentDel,
  .columnTwo,
  .contentLoc,
  .columnThree {
    opacity: 0;
    width: 0%;
  }

  .brief {
    width: 100%;
    margin: 0;
    padding-top: 3em;
  }
}