.container {
  margin: 0 0em;
  color: var(--charcoal);
}

@media screen and (max-width: 992px) {
  .container {
    margin: 0 0em;
  }
}

@media screen and (max-width: 600px) {
  .container {
    margin: 0 0em;
  }
}

@media screen and (max-width: 390px) {
  .container {
    margin: 0 0em;
  }
}